---
- name: Install System Dependencies
  ansible.builtin.apt:
    name: python3-debian
    state: present
- name: Setup APT Repo
  ansible.builtin.deb822_repository:
    name: netbird
    state: present
    types: deb
    uris: https://pkgs.netbird.io/debian
    suites: stable
    components: main
    signed_by: https://pkgs.netbird.io/debian/public.key
- name: Install Netbird
  ansible.builtin.apt:
    name: netbird
    state: present
    update_cache: true
- name: Login to Netbird
  ansible.builtin.command: netbird up -m {{ netbird_mgmt_url }} --setup-key {{ netbird_setup_key }}
  when: not netbird_skip_login
  changed_when: false
